* {
  margin: 0;
  padding: 0; }

body {
  background-color: black; }

.header-container {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.header-logo {
  width: 60%;
  vertical-align: middle;
  font-family: Montserrat;
  font-size: 28px;
  font-weight: 600;
  line-height: 52px;
  letter-spacing: 0em;
  text-align: left;
  color: #ededed;
  margin-left: -6%; }

.spec-header {
  font-family: Montserrat;
  font-size: 28px;
  font-weight: 400;
  line-height: 52px;
  letter-spacing: 0em;
  text-align: left; }

.transitions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none; }

.header-title {
  font-family: Montserrat;
  font-size: 72px;
  font-weight: 600;
  line-height: 88px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff; }

.header-subtitle {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: #ededed;
  margin: 37px 0px; }

.header-btn {
  width: Fixed 193px;
  height: Hug 48px;
  padding: 12px 28px 12px 28px;
  border-radius: 20px;
  gap: 8px;
  border: none;
  background-color: #836ff9;
  margin-right: 12px;
  color: #ededed;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center; }

.header-btn__O {
  width: Fixed 193px;
  height: Hug 48px;
  padding: 12px 28px 12px 28px;
  border-radius: 20px;
  border: 1px solid #836ff9;
  background-color: rgba(0, 0, 0, 0);
  gap: 8px;
  color: #ededed;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center; }

.header-wrapper {
  width: 30%; }

.block-community {
  margin-top: 132px; }

.wrapper-community {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.block-community__title {
  font-family: Montserrat;
  font-size: 52px;
  font-weight: 600;
  line-height: 64px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(237, 237, 237, 0.9); }

.block-community__subtitle {
  width: 35%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 120px;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(237, 237, 237, 0.9); }

.block-community__roles {
  margin-bottom: 108px;
  font-family: Montserrat;
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: center;
  color: #ededed; }

.block-community__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center; }

.roles-wrapper__title {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  width: 88%;
  text-align: center;
  margin-top: 32px;
  margin-left: 20px;
  margin-bottom: 8px;
  color: white; }

.roles-wrapper__subtitle {
  width: 196px;
  text-align: left;
  margin-left: 20px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: white; }

.block-community__wrapper {
  margin-right: 24px;
  width: 12%;
  width: 236px;
  height: 276px;
  padding: 108px, 20px, 40px, 20px;
  border-radius: 20px;
  background-color: #1c1c1c;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.roles-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 16px;
  position: absolute;
  margin-top: -83px; }

.img-roles {
  margin-top: -30%; }

.poap {
  color: white;
  font-family: Montserrat;
  margin: 120px 0; }

.poap-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.poap-block__title {
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: center;
  padding-bottom: 40px; }

.poap-block__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.poap-block__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 24px;
  width: 628px;
  height: 160px;
  border-radius: 20px;
  background-color: #1c1c1c;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.poap-wrapper__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.poap-wrapper__img {
  padding: 0 15px; }

.poap-wrapper__text {
  padding-right: 16px; }

.poap-wrapper__title {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left; }

.poap-wrapper__subtitle {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left; }

.news {
  color: white;
  font-family: Montserrat;
  margin: 120px 0; }

.news-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.news-block__title {
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: center;
  padding-bottom: 20px; }

.news-block__subtitle {
  padding-bottom: 72px;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center; }

.news-block__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.news-block__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 24px;
  width: 628px;
  height: 160px;
  border-radius: 20px;
  background-color: #1c1c1c;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.news-wrapper__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.news-wrapper__img {
  padding: 0 15px; }

.news-wrapper__text {
  padding-right: 16px; }

.news-wrapper__title {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left; }

.news-wrapper__subtitle {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left; }

.news-block__two {
  padding-top: 24px; }

.btn-news {
  margin-left: 44.5%;
  margin-top: 28px;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  border: 1px solid #836ff9;
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  padding: 12px 47px;
  border-radius: 20px;
  cursor: pointer; }

.grant {
  color: white;
  font-family: Montserrat; }

.grant-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.grant-block__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 24px;
  height: 536px;
  width: 1280px;
  border-radius: 20px;
  background-color: #1a0144;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.grant-wrapper__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 52px 0 52px; }

.grant-wrapper__text {
  padding-right: 40px; }

.grant-wrapper__title {
  font-size: 52px;
  font-weight: 600;
  line-height: 64px;
  letter-spacing: 0em;
  text-align: left;
  padding-bottom: 20px; }

.grant-wrapper__subtitle {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left; }

.ecosys {
  color: white;
  font-family: Montserrat; }

.ecosys-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.ecosys-block__title {
  margin-top: 120px;
  margin-bottom: 20px;
  font-size: 52px;
  font-weight: 600;
  line-height: 64px;
  letter-spacing: 0em;
  text-align: center; }

.ecosys-block__subtitle {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center; }

.ecosys-block__rows {
  width: 1280px;
  margin-top: 72px; }

.ecosys-block__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.ecosys-row__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 620px;
  height: 240px;
  padding-right: 40px; }

.ecosys-card__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 20px;
  background-color: #1c1c1c; }

.ecosys-card__text {
  width: 364px;
  padding-left: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.ecosys-card__title {
  font-family: Montserrat;
  font-size: 28px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0em; }

.ecosys-card__subtitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em; }

.ecosys-card__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 130px; }

.ecosys-card__btn button {
  background-color: #1a0144;
  color: white;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  border: none;
  border-radius: 20px;
  padding: 6px 20px 6px 20px; }

.article {
  color: #ededed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 60px;
  font-family: Inter; }

.article-block {
  width: 740px; }

.article-header__headline {
  font-size: 36px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0em; }

.article-header__date {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 100;
  line-height: 24px;
  letter-spacing: 0em; }

.article-header__text {
  margin: 20px 0 25px 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em; }

.article-market__header {
  font-family: Inter;
  font-size: 28px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: 0em;
  padding: 28px 0 16px 0; }

.article-market__minuses {
  padding-top: 16px; }

.article-market__pluses, .article-market__minuses {
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0em; }

.market-pluses__row, .market-minuses__row {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  padding: 0 0 8px 8px; }

.article-text__img {
  padding: 24px 0; }

.article-text {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  padding-bottom: 12px; }

.links-block {
  position: fixed;
  height: 220px;
  width: 28px;
  right: 26px;
  bottom: 196px; }

.links-media__btn {
  background: inherit;
  border: none;
  padding-bottom: 20px; }

.links-media__btn:hover {
  cursor: pointer; }

.footer-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #ededed;
  padding: 36px 0 40px 80px;
  width: 740px; }

.footer-community__title {
  font-family: Montserrat;
  font-size: 28px;
  font-weight: 600;
  line-height: 34px;
  letter-spacing: 0em; }

.social-media__btn {
  background: inherit;
  border: none;
  padding: 16px 16px 0 0; }

.social-media__btn:hover {
  cursor: pointer; }

.footer-nav__title {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em; }

.footer-nav__row {
  padding-top: 16px; }

.footer-nav__row a {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-decoration: none;
  color: #ededed; }

.footer-author__title {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  padding-bottom: 16px; }

.footer-author__link a {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-decoration: none;
  color: #ededed; }

/*# sourceMappingURL=main.css.map */